---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1 class="py2">{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
  {% endif %}
  <span class="post-meta small">{{ minutes }} minute read</span>
</div>

<article class="post-content">
  {{ content }}
</article>

<div style="margin-top: 50px; text-align:center;">
<div class="up-arrow">
  <a href="#" style="color:#333;"><i class="fa fa-caret-square-o-up fa-2x"></i></a>
</div>
<p>
  Liked this? Want more? Tell me!</br>
  <a href="http://www.twitter.com/on_code"><i class="fa fa-twitter-square fa-2x"></i></a>
  <a href="http://plus.google.com/+LaurentVictorino"><i class="fa fa-google-plus-square fa-2x"></i></a>
</p>
</div>
